<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <nav>
            <a th:href="@{/cliente}">Clientes</a>
            <a th:href="@{/usuario}">Usuario</a>            
        </nav>
        <h1>Editar Usuario</h1>
        <form th:action="@{/usuario/GuardarModificacion}" method="post" th:object="${usuario}">
            <input type="hidden" th:field="*{id}"/> <!-- Campo oculto para el ID -->
            <select name="Rol">
                <option value="Admin">Admin</option>
                <option value="Agente">Agente</option>
            </select>
            <input type="text" placeholder="nombre" th:field="*{nombre}"/>
            <input type="text" placeholder="apellido" th:field="*{apellido}"/>
            <input type="text" placeholder="correo" th:field="*{correo}"/>
            <input type="text" placeholder="contraseña" th:field="*{contraseña}"/>
            <input type="date" placeholder="fecha Nacimiento" th:field="*{fechaNacimiento}"/>
            <input type="text" placeholder="provincia" th:field="*{provincia}"/>
            <button type="submit">Guardar</button> 
            <button th:text="cancelar" th:href="@{/cliente}">cancelar</button>
        </form>
    </body>
</html>
