<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div th:fragment="fragmento">
            <h3 th:text="${inmueble.titulo}"></h3>
            <section class="d-flex gap-3 flex-wrap" style="place-content: center">
                <img class="col-5 col-md-3" style="object-fit: cover; object-position:center" th:each="inm : ${inmueble.imagenes}" th:src="@{'/img/'+${inm.nombre}}"/>
            </section>
        </div>
    </body>
</html>
