<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
    <head> 
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>

        <div layout:fragment="contenido">
            <div class="shadow rounded-3 bg-white p-3">
                <p th:text="${param.tipo}"></p>

                <form th:action="${inmueble.id != null} ? @{/inmuebles/guardar_modificacion} : @{/inmuebles/nuevo(tipo=${param.tipo})}" id="formularioIngresoInmueble" method="post" enctype="multipart/form-data" th:object="${inmueble}">
                    <input type="text" name="id" th:field="*{id}"  hidden>
                    <div class="mb-0 pb-0">
                        <h5 class="fw-ligth text-primary" th:text="'Nuevo Inmueble | '+${param.tipo.toString()}"></h5>
                        <p>Debe completar los campos para que el ingreso sea exitoso</p>
                    </div>
                    <div class="d-flex gap-3 justify-content-between flex-wrap">
                        <div class="col-12 col-md-8">
                            <p class="col-12 border-bottom mb-3 fw-bold">Datos Principales</p>
                            <section class="d-flex gap-3 justify-content-between flex-wrap" style="grid-template-columns: repeat(2,1fr);">
                                <div class="col-12 col-md-6">
                                    <label class="form-label mb-1" for="titulo">Titulo</label>
                                    <input required="true"  class="form-control form-control" type="text" id="titulo" th:field="*{titulo}" name="titulo" placeholder="Ingrese un titulo">
                                </div>
                                <div class="col-12 col-md-8">
                                    <label class="form-label mb-1" for="direccion">Dirección</label>
                                    <input required="true"  class="form-control form-control" type="text" id="direccion" th:field="*{direccion}" name="direccion" placeholder="Ingrese una dirección">
                                </div>
                                <div class="d-flex gap-3 col-md-8">
                                    <div class="col">
                                        <label class="form-label mb-1" for="precioAlquiler">Precio Alquiler</label>
                                        <input required="true"  class="form-control form-control" type="number" min="1" id="precioAlquiler" th:field="*{precioAlquiler}" name="precioAlquiler" placeholder="Ingrese un precio">
                                    </div>
                                    <div class="col">
                                        <label class="form-label mb-1" for="precioVenta">Precio Venta</label>
                                        <input required="true"  class="form-control form-control" type="number" min="1" id="precioVenta" th:field="*{precioVenta}" name="precioVenta" placeholder="Ingrese un precio">
                                    </div>
                                </div>

                                <div class="col-12" style="grid-column: span 2;" >
                                    <label class="form-label" for="descripcion">Descripción</label>
                                    <textarea required="true" placeholder="Ingrese una breve descripción" th:value="*{descripcion}" th:field="*{descripcion}" name="descripcion" id="descripcion" class="form-control" rows="3"></textarea>
                                </div>
                                <div class="form-check">
                                    <input  class="form-check-input" type="checkbox"  name="isVenta" value="false" id="isVenta" th:field="*{isVenta}">
                                    <label class="form-check-label fw-bold" for="isVenta" >
                                        Disponible para venta
                                    </label>
                                </div>
                            </section>

                            <p class="border-bottom mb-3 mt-3 fw-bold">Propietario </p>
                            <section class="d-flex justify-content-between flex-wrap gap-3">
                                <div class="col">
                                    <label class="form-label mb-1">Nombre</label>
                                    <input required disabled type="text" th:field="*{propietario.nombre}" name="nombre" id="nombre" class="form-control">
                                </div>
                                <div class="col">
                                    <label class="form-label mb-1">Listado de propietarios</label>
                                    <select required class="form-select" th:field="*{propietario}" name="propietario" id="propietario">
                                        <option value="0" selected disabled>Selecciona un propietario</option>
                                        <option th:each="propietario : ${clientes}" th:value="${propietario.id}" class="text-capitalize" th:text="${propietario.nombre+', '+propietario.apellido}"></option>
                                    </select>
                                </div>
                            </section>
                            <p class="border-bottom mb-3 mt-3 fw-bold">Imagenes </p>
                            <section>
                                <div class="col">
                                    <label for="archivos">Maximo de 4 imagenes!</label>
                                    <input  accept="image/*" class="form-control" type="file" multiple="true"  name="archivos" id="archivos">
                                </div>
                                <div class="d-flex flex-wrap mt-2 gap-3">
                                    <img th:each="imagen : ${inmueble.imagenes}" width="100%" style="max-width: 150px" th:src="@{'/img/'+${imagen.nombre}}" alt="alt"/>
                                </div>
                            </section>
                        </div>

                        <div class="col-12 col-md-3">
                            <section class="d-flex gap-1 flex-column">
                                <p class="border-bottom mb-3 fw-bold">Datos Extras</p>
                                <div th:if="${param.tipo.toString()=='Campo'}" class="form-check ">
                                    <input  class="form-check-input" type="checkbox" th:field="*{isAccesoRuta}" name="isAccesoRuta" value="" id="isAccesoRuta">
                                    <label class="form-check-label" for="isAccesoRuta">
                                        Acceso Ruta
                                    </label>
                                </div>
                                <div th:if="${param.tipo.toString()=='Campo'}" class="form-check ">
                                    <input  class="form-check-input" type="checkbox" th:field="*{isRiego}" name="isRiego" value="" id="isRiego">
                                    <label class="form-check-label" for="isRiego">
                                        Riego
                                    </label>
                                </div>
                                <div th:if="${param.tipo.toString()=='Oficina'}" class="form-check   ">
                                    <input  class="form-check-input" type="checkbox" th:field="*{isVidriera}" name="isVidriera" value="" id="isVidriera">
                                    <label class="form-check-label" for="isVidriera">
                                        Vidriera a la calle
                                    </label>
                                </div>
                                <div th:if="${param.tipo.toString()!='Campo'}" class="col">
                                    <label class="form-label" for="banios">
                                        Baños
                                    </label>
                                    <input  class="form-control form-control-sm" type="number" th:field="*{banios}" name="banios" value="" id="banios">
                                </div>
                                <div class="col  ">
                                    <label class="form-label" for="impMunicipales">Imp. Municipales</label>
                                    <input required class="form-control form-control-sm" type="number" min="0" th:field="*{impMunicipales}" name="impMunicipales" id="impMunicipales">
                                </div>
                                <div class="col  ">
                                    <label class="form-label" for="impInmobiliarios">Imp. Inmobiliarios</label>
                                    <input required class="form-control form-control-sm" type="number" min="0" th:field="*{impInmobiliarios}" name="impInmobiliarios" id="impInmobiliarios">
                                </div>
                                <div th:if="${param.tipo.toString()!='Campo'}" class="col  ">
                                    <label class="form-label" for="expensas">Expensas</label>
                                    <input required class="form-control form-control-sm" type="number" min="0" th:field="*{expensas}" name="expensas" id="expensas">
                                </div>
                                <div th:if="${param.tipo.toString()!='Campo'}" class="col  ">
                                    <label  class="form-label" for="mts2">Metros Cuadrados</label>
                                    <input required class="form-control form-control-sm" type="number" min="0" th:field="*{mts2}" name="mts2" id="mts2">
                                </div>
                                <div th:if="${param.tipo.toString()=='Campo'}" class="col">
                                    <label class="form-label" for="hectareas">Hectareas</label>
                                    <input required class="form-control form-control-sm" type="number" min="0" th:field="*{hectareas}" name="hectareas" id="hectareas">
                                </div>                                            
                            </section>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end gap-3">
                        <button type="reset" class="btn btn-secondary">Cerrar</button>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>

            </div>
        </div>
    </body>
</html>
